/* .games-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
} */
.games-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  height: 100%;
  gap: 30px;
}
.games-page__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.games-page__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 15px;
  width: 290px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #33333333;
}
.game-description {
  text-align: center;
}
